/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(119 121 126);
}
h2,h3,h4{
    color: white;
}
:root{
    /* Colors */
    --side-bar: rgb(0 0 0);
    --player: rgb(40 40 40);
    --player-1: rgb(194 194 194);
    --player-2:rgb(90 90 90);
    --album: rgb(20 25 34);
    --green: rgb(177 253 65);

    /* Measures */
    --sidebar-width: 200px;
    --upgrade-heigth: 80px;
    --sidebar-bottom-height: 80px;
    --footer-height: 105px;
    /* Spaces */

    /* margin */
    --mb-1: .8rem;
    --mb-2: 4rem;

    /* padding */
    --pl-1: 1rem;
    --pr-1: 1rem;
}

/* Typography */
h1,h2,h3,h4,p {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* MAIN */
.spotiflex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
/* Side-bar */
.top-side{
    height: calc(88% - var(--sidebar-bottom-height));
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1.4em;
    padding: 1em 0 1em 0;
}
.side-bar{
    width: var(--sidebar-width);
    height: 100%;
    padding-left: 1em;
    background-color:var(--side-bar);
}
.side-bar .icon{
    width: 1.7em;
    padding-right: .3em;
}
.side-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side-menu .icon{
    width: 1.8em;
}
.side-menu i{
        font-size: 2em;
        padding-right: .2em;
}
.side-menu h4{
    font-size: .8em;
    color: rgb(119 121 126);
}
.side-menu ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--mb-1);
    color: rgb(119 121 126);
}
.up li:hover{
    border-left: 1px solid var(--green);
}
h4:hover{
    color: white;
}
.phone a:hover{
    color: white;
}
.install{
    display: flex;
    align-items: center;
    color: white;
}
.install .icon img{
    margin-right: 2px;
    width: 1.8em;
}
.user .icon img{
    margin-top: 1em;
    margin-right: 2px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: grey;
    border-radius: 50%;
    object-fit: fill;
}
.install{
    border-bottom: 1px solid rgb(91 91 91);
}
.user{
   display: flex;
   color: white;
}
.bottom-side{
    height: var(--sidebar-bottom-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
/* Main header */
.container{
    width: calc(100% - var(--sidebar-width));
    background-color: var(--album);
    overflow-y: scroll;
}
.upgrade{
    width: calc(100% - var(--sidebar-width));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--upgrade-heigth);
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(8, 11, 18, .7);
    z-index: 998;
    margin-right: 1.1em;
}
.upgrade a{
    font-size: .8em;
    text-decoration: none;
    border-radius: 20px;
    padding: .8em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: .5em;
    border: 2px solid white;
    color: white;
    display: inline-block;
    background-color:var(--side-bar);
}
.upgrade a:hover{
    font-size: .9em;
}
/* Nav */
nav{
    padding-top: 6em;
    width: 80%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li a{ 
    font-size: .8em;
    padding: .3em;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom: 2px solid var(--green);
    color: white;
}
/* Recently played */
.played{
    padding-left: var(--pl-1);
}
.row{
    display: flex; 
}
.album{
    width: calc(100% / 6 - 1em);
    margin-right: var(--pr-1);
    margin-bottom: var(--mb-2);
    position: relative;
}
/* hover */
.square{
    display: none;
}
.square i{
    font-size: 3em;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
}
.album:hover .square{
    display: block;
}
.text{
    text-align: center;
}
p{
    color:  rgb(119 121 126);
    font-size: .8em ;
    padding-bottom: 1em;
}
/* Created by */
.created{
    padding-left: var(--pl-1);
}

.artists{
    padding-left: var(--pl-1);
    margin-bottom: 2em;
}
/* Artists */
.image-radius img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


/* FOOTER */
/* Player*/
footer{
    width: 100%;
    display: flex;
    padding: 0px 1em;
    color: white;
    background-color: var(--player);
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-left,
.footer-right {
    width: 230px;
}
/* Card left */
.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-image{
    width: 7em;
    margin-right: .5em;
}
.text-music{
    margin-right: 2em;
}
.iconss{
    display: flex;
}
.iconss i{
    color: rgb(119 121 126);
    padding-left: .5em;
}
.iconss i:hover{
    color: white;
}
/* Play */
footer{
    display: flex;
    justify-content: space-between;
}
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 460px);
}
.buttonss{
    display:flex
}
.buttonss i{
    padding: .5em;
    font-size: 1.8em;
}

.timed{
    width: 80%;
}
.slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slidecontainer p{
    padding: .5em;
}
.slider {
    -webkit-appearance: var(--player-1);
    width: 60%;
    height: 5px;
    border-radius: 20px;
    background: var(--player-2);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: var(--player-1);
    appearance: var(--player-1);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:var(--player-1);
    cursor: pointer;
  }
  
/* Volume */
.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-right i{
    padding-left: .5em;
}
.ico{
    display: flex;
}
.ico a{
    color: white;
}
.footer-right.slidecontainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    -webkit-appearance: var(--player-1);
    width: 60%;
    height: 5px;
    border-radius: 20px;
    background: var(--player-2);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: var(--player-1);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }


/* MEDIA QUERY */
/* Small desktop - 1100px */
@media screen and (max-width: 1100px){
    /* Nav */
    nav ul{
        flex-wrap: wrap;
    }
    nav ul li{
        width: calc(100% / 5);
    }
    /* Recently played */
    .row{
        flex-wrap: wrap;
    }
    .album{
        width: calc(100% / 4 - (2rem * 2 / 3));
    }
}


/* Tablet - 700px */
@media screen and (max-width: 700px) {
/* Nav */
nav ul li{
    width: calc(100% / 3);
}
/* Recently played */
.album{
    width: calc(100% / 2 - (2rem * 2 / 3));
}
/* Player */
.footer-left,
.footer-right {
    width: 35%;
}
.footer-center{
    width: 65%;
}
}
/* Phone - 600px */
@media screen and (max-width: 600px) {
/* Side bar */
.side-bar{
    width: 65px;
}
.phone{
    display: none;
}
/* Nav */
nav ul{
    justify-content: space-around;
}
nav ul li{
    width: calc(100% / 4);
}
.upgrade{
    width: calc(100% - 65px);
}
.container{
    width: calc(100% - 65px);
}
/* Player */
.footer-left,
.footer-right {
    width: 30%;
}
.footer-center{
    width: 40%;
}

}